# Data types and structure

 1.What are data structures, and why are they important?

   >Data structure is a way of storing data in a computer so that it can be used in efficient way.They are important because they provide the foundation fro solving complex problems in programming by optimizing resource usage.

2.Explain the difference between mutable and immutable data types with examples.
   >mutable  data types can be modified without creating  new objects or     without changing  their memory address eg;list,set,dictionary

   >-immutable datatypes cannnot be modified after creation .eg; string,tuple.

3.What are the main differences between lists and tuples in Python?
  >-list is mutable datatype whereeas tuple is immutable datatype.
   
   >syntax of list:[]

  >syntax of tuple:()

4.Describe how dictionaries store data?
>  Dictionaries store data in a key value pair where keys are unique.

5.Why might you use a set instead of a list in Python?
>Use set instead of a list when you need unique elements and set operations like union and intersection

6.What is a string in Python, and how is it different from a list?
>A string is an imuutable datatype which is used to store a sequence of characters ,enclosed in quotes(" " or ' ').
where list  can store multiple type of data.

7.How do tuples ensure data integrity in Python?
>Tuples ensure data integrity in Python by being immutable, preventing accidental modifications and preserving the original data structure.

8.What is a hash table, and how does it relate to dictionaries in Python?
>A hash table is a data structure that stores key-value pairs using a hash function to map keys to unique memory locations for fast access.In Python, dictionaries (dict) are implemented using hash tables.

9.Can lists contain different data types in Python?
>Yes list can contain different data types including integers ,strings,float,boolean.

10.Explain why strings are immutable in Python?
>Strings are immutable in Python because they are stored as fixed memory locations to optimize performance, security, and memory efficiency.

11.What advantages do dictionaries offer over lists for certain tasks?
>Dictionaries offer O(1) lookups, key-value storage, and faster insertions/deletions compared to lists (O(n)). They ensure unique keys and provide better readability with named access (dict["key"] vs. list index).

12.Describe a scenario where using a tuple would be preferable over a list?
>Use a tuple over a list when you need immutable, fixed data that should not change, ensuring data integrity and faster performance.
>eg:Storing coordinates (latitude, longitude) in a GPS system.

13.How do sets handle duplicate values in Python?
>In Python, sets automatically remove duplicate values because they store only unique elements using hashing.

14.How does the “in” keyword work differently for lists and dictionaries?
>The in keyword checks for membership but works differently for lists and dictionaries:
Lists (O(n))  Performs a linear search, checking each element one by one.Dictionaries (O(1)) Checks only keys using hashing, making it much faster.

15.Can you modify the elements of a tuple? Explain why or why not?
>No you cannot modify the elements of tuple manually because tuples are immutable.

16.What is a nested dictionary, and give an example of its use case?
>A nested dictionary is a dictionary that contains another dictionary as a value.
>use case:storing students records.

17.Describe the time complexity of accessing elements in a dictionary.
>Time complexity of accessing elements in a dictionary is O(1).

18.In what situations are lists preferred over dictionaries?
>Ordered Data Storage : Lists preserve order, while dictionaries  did not.

>Faster Iteration : Lists are efficient for looping through elements sequentially.

>Index-Based Access : Lists allow direct access using positions (list[i]), unlike dictionaries.

>Memory Efficiency : Lists consume less memory than dictionaries for simple sequential data.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
>dictionaries were implemented using hash tables, meaning they did not maintain the insertion order of keys. Instead, data was stored based on hash values, making retrieval unpredictable.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
>List: Uses index-based retrieval (O(1)) when accessing an element by position.
>Dictionary: Uses key-based retrieval (O(1)) via hashing, making lookups faster for large datasets.

#PRACTICAL QUESTIONS

In [85]:
# 1. Write a code to create a string with your name and print it
str="python"
print(str)

python

In [86]:
# 2.Write a code to find the length of the string "Hello World"
str="Hello World"
print(len(str))

11

In [87]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
str="Python Programming"
print(str[:3])

Pyt

In [88]:
# 4. Write a code to convert the string "hello" to uppercase.
str='hello'
print(str.upper())

HELLO

In [89]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
str="I like apple"
print(str.replace("apple","orange"))

I like orange

In [128]:
#6. Write a code to create a list with numbers 1 to 5 and print it
[i for i in range(1,6)]

[1, 2, 3, 4, 5]

In [102]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

In [100]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

In [101]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a','b','c','d']
list[1]

'b'

In [103]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
list=[10,20,30,40,50]
list.reverse()
list

[50, 40, 30, 20, 10]

In [104]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup=(100,200,300)
tup

(100, 200, 300)

In [105]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tup=('red','green','blue','yellow')
tup[2]

'blue'

In [106]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple=(10, 20, 5, 15)
min(tuple)

5

In [107]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tu=('dog','cat','rabbit')
tu.index('cat')

1

In [108]:
#  15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tu=('apple','banana','kiwi')
'kiwi' in tu

True

In [109]:
#  16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
se={'a','b','c'}
se

{'a', 'b', 'c'}

In [110]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
se={1,2,3,4,5}
se.clear()
se

set()

In [111]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
se={1,2,3,4}
se.remove(4)
se

{1, 2, 3}

In [112]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1,2,3}
s2={3,4,5}
s1.union(s2)

{1, 2, 3, 4, 5}

In [113]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1,2,3}
s2={2,3,4}
s1.intersection(s2)

{2, 3}

In [114]:
#  21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={'name':'bhavsagar','age':20,'city':'jalandhar'}
dict

{'name': 'bhavsagar', 'age': 20, 'city': 'jalandhar'}

In [115]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict={'name':'John','age':25}
dict['country']='USA'
dict

{'name': 'John', 'age': 25, 'country': 'USA'}

In [116]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict={'name': 'Alice', 'age': 30}
dict['name']

'Alice'

In [117]:
#24. 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop('age')
dict

{'name': 'Bob', 'city': 'New York'}

In [118]:
#  25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict={'name': 'Alice', 'city': 'Paris'}
"city" in dict

True

In [119]:
#26. 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[1,2,3,4]
tup=(1,2,3,4)
dict={'name':'bhavsagar','age':20,'city':'jalandhar'}
print("list:",list)
print("tuple:",tup)
print("dictionary:",dict)

list: [1, 2, 3, 4]
tuple: (1, 2, 3, 4)
dictionary: {'name': 'bhavsagar', 'age': 20, 'city': 'jalandhar'}

In [120]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced).
import random
num=[random.randint(1,100)  for i in range(5)]
print(num)
num.sort()
print(num)

[37, 84, 25, 29, 51]
[25, 29, 37, 51, 84]

In [121]:
# 28. Write a code to create a list with strings and print the element at the third index.
list=["apple",'banana','kiwi','orange']
list[2]

'kiwi'

In [122]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1={1:'a',2:'b'}
dict2={3:'c',4:'d'}
dict3=dict1 | dict2
dict3

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [123]:
#  30. Write a code to convert a list of strings into a set.
lis=['apple','banana','kiwi']
set(lis)

{'apple', 'banana', 'kiwi'}